* { box-sizing: border-box; }

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background: black;
	color: white;
}

h1 {
<<<<<<< HEAD
	font-size: 32px;
=======
	font-size: 128px;
}

#left-col, #center-col, #right-col {
	display: inline-block;
	height: 100vh;
	padding: 10px;
	vertical-align: top;
}

#left-col {
	width: 20vw;
	background: red;
}

#center-col {
	width: 60vw;
	background: blue;
	overflow: scroll;
}

#right-col {
	width: 20vw;
	background: green;
}

#board {

>>>>>>> 78612dbd74bc964acfb8443dae19b9e18874de89
}