* { box-sizing: border-box; }

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#left-col, #center-col {
	display: inline-block;
	height: 100vh;
	padding: 10px;
	vertical-align: top;
}

#left-col {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	/*-webkit-text-stroke: 0.5px white;*/
	width: 20vw;
	color: black;
	background: linear-gradient(to bottom, #b4e391 0%,#61c419 100%);
	border-right: 1px outset #0a0;
}

#left-col h1 {
	font-family: "Impact";
	margin: 0;
	text-align: center;
}

#left-col fieldset {
	border-radius: 8px;
	border-color: #0a0;
	margin-top: 12px;
	height: 20vh;
}

#left-col legend {
	font-size: 20px;
}

#center-col {
	width: 80vw;
	background: blue;
	overflow: auto;
	text-align: center;
}

#board {
	cursor: pointer;
}